.topofmeddetail{
    position: absolute;
    width: 100%;
    height: 24.49%;
    left:50%;
    transform: translate(-50%,0%);
}
.backarrowofmeddetail{
    position: absolute;
    top:30.366%;
    left:7.778%;
    z-index: 2;
}
.poster{
    position: absolute;
    top:22%;
    left:50%;
    transform: translate(-50%,0%);
}
.titleofappointment{
    position: absolute;
    z-index: 2;
    top:17.18%;
    left:50%;
    transform: translate(-50%,0%);
}
.photo{
    position: absolute;
    top:50%;
    left:10%;
    transform: translate(0%,-50%);
}
.text{
    position: absolute;
    left:40%;
    top:15%;
}
.text p{
    text-align: left;
}
.shortinfo{
    position: absolute;
    display:flex;
    left:50%;
    top:36.41%;
    width: 100%;
    transform: translate(-50%,0%);
    justify-content: space-around;
}
.numbercontent{
    position: absolute;
    top:8%;
    left: 9%;
}
.yrcontent{
    position: absolute;
    top:8%;
    left: 50%;
    transform: translate(-50%,0%);
}
.ratecontent{
    position: absolute;
    top:8%;
    left: 79%;
    
}
@media (min-width: 361px){
    .backarrowofmeddetail{
        z-index: 2;
        position: absolute;
        top:10%;
        left:30%;
        transform: translate(-50%,0%);
    }
}
@media (min-width: 768px){
    .backarrowofmeddetail{
        z-index: 2;
        position: absolute;
        top:10%;
        left:40%;
        transform: translate(-50%,0%);
    }
}
.aboutofmeddetail{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,0%);
    width:88.61%;
    height:20.64%;
}
.aboutofmeddetail h3{
    text-align: center;
}
.aboutofmeddetail p{
    text-align: center;
    color:4A545E;
    font-size: 18px;
    line-height: 135%;
}
.dropdownofmeddetail{
    position: absolute;
    top:62%;
    left:50%;
    transform: translate(-50%,0%);
    max-width: 320px;
    width:88.61%;
}
.dropdownofmeddetail h2{
    text-align: left;
}
.dropdownofmeddetail p{
    text-align: left;
}
.timeselectionofmeddetail{
    position: absolute;
    top:80%;
    left:50%;
    transform: translate(-50%,0%);
    height:20%;
}
.timeselectionofmeddetail h2{
    text-align: left;
    margin: 0;
}
.timecontentofmeddetail{
    position: absolute;
    top:37%;
    left:50%;
    transform: translate(-50%,0%);
}
.timecontentofmeddetail h2{
    text-align: left;
}