.header{
    position:absolute;
    top:7.307%;
    width: 86.1%;
}
.backarrowofschedulemed{
    position: absolute;
    top:7.307%;
    left:0%;
}
.title{
    position: absolute;
    top:0%;
    left: 50%;
    transform: translate(-50%,0%);
}
.title h2{
    margin-top: 10%;
}
.calendar{
    position: absolute;
    right:0%;
    top:25%;
}
.dateofschedule-med{
    position: absolute;
    top:15.9%;
    width: 100%;
    left:0%;
}
/* 定義預約格子佔整個畫面擺放位置 */
.schedulesmed-wrap{
    position: absolute;
    width:88.6%;
    height:60%;
    top:30%;
    left:50%;
    transform: translate(-50%,0%);
    max-width: 319px;
}
.schedulesmed{
    /* result-wrap */
    display: flex;
    justify-content: center;
    padding: 0px 3%;
    height: 95%;
    top: 0%;
    margin-top: 0px;
    overflow-y:scroll;
}
.schedulesmed-container{
    justify-content: center;
    gap: 5%;
    width:100%;
    height:100%;
}
.schedulesItemmed{
    
    position: relative; 
    
    width: 100%;
    height:31%;
    
    padding: 0px;
}
/* 讓message可以一直往下 */
.clearfix:after{
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden
}
.clearfix{
    /* *zoom:1; */
    zoom:1;
}
.body1ofschedulemed{
    position: absolute;
    width:100%;
    height:73.6%;
    top:15%;
    left:0%;
}
@media (min-width: 1025px){
    .body1ofschedulemed img{
        position: absolute;
        transform: scaleX(1.1); /* 横向放大 1.5 倍 */
        height: 100%;
        left: 0%;
    }
}
.body1ofschedulemed img{
    position: absolute;
    width:100%;
    height:100%;
    left:0%;
}

.photofmed{
    position: absolute;
    z-index: 3;
    top: 24.78%;
    left: 10%;
    width:18.81%;
    height:56.2%;
}
.infofschedulemed{
    position: absolute;
    z-index: 2;
    height: 58%;
    max-height: 59px;
    top:25%;
    /* top:50%;
    transform: translate(0%,-50%); */
    left:30%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    text-align: left;
}
.infofschedulemed p{
    margin-top:0;
    margin-bottom: 0;
}


.navbar{
    position: absolute;
    top:91.282%;
    left:18.472%;
    width: 62.778%;
    height: 6.154%;
}